<div class="container-fluid">
  <div class="col p-5">
      <table class="table" summary="calificaciones">
        <thead class="thead-dark">
            <th scope="col">Calificacion</th>
            <th scope="col">Estudiante</th>
            <th scope="col">Fecha</th>
            <th scope="col">Profesor</th>
            <th scope="col">Respuesta</th>
        </thead>
        <tbody>
          <tr *ngFor="let c of calificaciones">
            <td>
              <dd>{{c.calificacionNumerica}}</dd>
            </td>
            <td>
              <dd>{{c.nombreEstudiante}}</dd>
            </td>
            <td>
              <dd>{{c.fecha}}</dd>
            </td>
            <td>
              <dd>{{c.profesor? c.profesor: "no asignado"}}</dd>
            </td>
            <td>
              <dd>{{c.respuesta? c.respuesta: "no asignada"}}</dd>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
