<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img class="img-fluid" />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>id</dt>
        <dd>{{actividadDetail.id}}</dd>
        <dt>fecha</dt>
        <dd>{{actividadDetail.fecha}}</dd>
        <dt> materiales</dt>
        <dd>{{actividadDetail.materiales}}</dd>
        <dt> Tipo</dt>
        <dd>{{actividadDetail.tipo}}</dd>
        <dt> Descripcion</dt>
        <dd>{{actividadDetail.descripcion}}</dd>



        <hr>
        <dt class="bold">Estudiante</dt>
        <dd class="caption">{{actividadDetail.fecha.getDate()}}</dd>
        <dt class="bold">Materiales</dt>
        <dd class="caption">{{actividadDetail.materiales}}</dd>
        <dt class="bold">Tipo</dt>
        <dd class="caption">{{actividadDetail.tipo}}</dd>
        <dt class="bold">Descripcion</dt>
        <dd class="caption">{{actividadDetail.descripcion}}</dd>
      </dl>
    </div>
  </div>
</div>
