<div class="row p-2">
  <div class="col-2" *ngFor="let h of horarios">
    <ul>
      <li>
        <a
          class="btn btn-light"
          data-toggle="collapse"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
          (click)="onSelected(h)"
        >
          {{ h.id }}
        </a>
      </li>
    </ul>
  </div>

  <div class="col">
    <div *ngIf="selected">
      <app-horario-detail
        [horarioDetail]="selectedHorario"
      ></app-horario-detail>
    </div>
  </div>
</div>
