<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">Español</th>
          <th class="h4">Ingles</th>
          <th class="h4">Frances</th>
          <th class="h4">Italiano</th>
          <th class="h4">Portugues</th>
          <th class="h4">Aleman</th>
          <th class="h4">Japones</th>
          <th class="h4">Coreano</th>
          <th class="h4">Mandarin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of idiomas">
          <td>
            <dd>{{i.espanol}}</dd>
          </td>
          <td>
            <dd>{{i.ingles}}</dd>
          </td>
          <td>
            <dd>{{i.frances}}</dd>
          </td>
          <td>
            <dd>{{i.italiano}}</dd>
          </td>
          <td>
            <dd>{{i.portugues}}</dd>
          </td>
          <td>
            <dd>{{i.aleman}}</dd>
          </td>
          <td>
            <dd>{{i.japones}}</dd>
          </td>
          <td>
            <dd>{{i.coreano}}</dd>
          </td>
          <td>
            <dd>{{i.mandarin}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
