<div class="row p-2">
  <div class="col-2" *ngFor="let i of idiomas">
    <ul>
      <li>
        <a
          class="btn btn-light"
          data-toggle="collapse"
          href="#collapseExample"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
          (click)="onSelected(i)"
        >
          {{ i.id }}
        </a>
      </li>
    </ul>
  </div>

  <div class="col">
    <div *ngIf="selected">
      <app-idioma-detail
        [idiomaDetail]="selectedIdioma"
      ></app-idioma-detail>
    </div>
  </div>
</div>
