<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img class="img-fluid" />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>id</dt>
        <dd>{{claseDetail.id}}</dd>
        <dt>Estudiante</dt>
        <dd>{{claseDetail.estudiante}}</dd>
        <dt> Profesor</dt>
        <dd>{{claseDetail.profesor}}</dd>
        <dt> tipoDeclase</dt>
        <dd>{{claseDetail.tipoClase}}</dd>

        <hr>
        <dt class="bold">Estudiante</dt>
        <dd class="caption">{{claseDetail.estudiante.nombre}}</dd>
        <dt class="bold">Profesor</dt>
        <dd class="caption">{{claseDetail.profesor.nombre}}</dd>
        <dt class="bold">TipoDeClase</dt>
        <dd class="caption">{{claseDetail.tipoClase}}</dd>
      </dl>
    </div>
  </div>
</div>
