<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="thumb">

      </div>
    </div>
    <div class="col">
      <dl>
        <dt>id</dt>
        <dd>{{claseDetail.id}}</dd>
        <dt>Fecha</dt>
        <dd>{{claseDetail.fecha}}</dd>
        <dt> tipoClase</dt>
        <dd>{{claseDetail.tipoClase}}</dd>

        <hr>
        <dt class="bold">Profesor</dt>
        <dd class="caption">{{claseDetail.profesor.nombre}}</dd>
        <dt class="bold">Estudiante</dt>
        <dd class="caption">{{claseDetail.estudiante.nombre}}</dd>
        <dt class="bold">Idioma</dt>
        <dd class="caption">{{claseDetail.idioma}}</dd>
      </dl>
    </div>
  </div>
</div>
