<div class="container-fluid">
  <p class="h3 p-3" >{{estudianteDetail.nombre}}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img class="img-fluid" />
      </div>
    </div>
    <div class="col1">
      <dl>
        <dt>Identificacion</dt>
        <dd>{{estudianteDetail.identificacion}}</dd>
        <dt>Correo</dt>
        <dd>{{estudianteDetail.correo}}</dd>
        <dt> Login</dt>
        <dd>{{estudianteDetail.login}}</dd>
      </dl>
    </div>
  </div>
</div>
