<div class="container-fluid">
	<div class="col-4 p-3">

<form [formGroup]="actividadForm" (ngSubmit)="!actividadForm.invalid && createActividad(actividadForm.value)">

  <div class="form-group mx-sm-3 mb-2">
    <label for="tipoActividad">
      tipoActividad
    </label>
    <input novalidate id="tipoActividad" class="form-control" formControlName="tipoActividad" placeholder="tipo de actividad">
    <div class="alert alert-danger alert-dismissible fade show"
        *ngIf="actividadForm.get('tipoActividad').hasError('required') && actividadForm.get('tipoActividad').touched">
        tipo de actividad requerido
    </div>
</div>

<div class="form-group mx-sm-3 mb-2">
  <label for="descripcion">
    descripcion
  </label>
  <input novalidate id="descripcion" class="form-control" formControlName="descripcion" placeholder="descripcion">
  <div class="alert alert-danger alert-dismissible fade show"
      *ngIf="actividadForm.get('descripcion').hasError('required') && actividadForm.get('descripcion').touched">
      descripcion requerido
  </div>
</div>

<div class="form-group mx-sm-3 mb-2">
  <label for="fecha">
    fecha
  </label>
  <input novalidate id="fecha" type="text" class="form-control" formControlName="fecha" placeholder="fecha">
  <div class="alert alert-danger alert-dismissible fade show"
      *ngIf="actividadForm.get('fecha').hasError('required') && actividadForm.get('fecha').touched">
      Medio de pago requerido
  </div>
</div>

  <button type="submit" class="btn btn-primary" [disabled]="!actividadForm.valid">Create</button>
  <button type="button" class="btn btn-danger ml-3" (click)="cancelCreation()">Cancel</button>
</form>
</div>
</div>
