<div class="container">
  <div class="row">
    <div class="col-sm">
      <label for="nota"><STrong>Calificación:</STrong></label>
      <input novalidate id="nota" class="form-control" placeholder="Calificación">
      <!--
      <div class="row">Texto random</div>
      <div class="row">Más texto random</div>

    </div>
    <div class="col-sm">
      -->
      <label for="estudiante"><STrong>Nombre estudiante:</STrong></label>
      <input novalidate id="nombre" class="form-control" placeholder="Nombre del estudiante">


    </div>
    <div class="col-sm" id="divbtn">
      <button type="submit" class="btn btn-primary mb-2">Crear</button>
    </div>
  </div>
</div>
