h2 {
  color: black;
  background-color: rgba(0,0,0, 0.07);
  text-align: center;
}
h4 {
  text-align: center;
}
h3 {
  text-align: center;
}
#fin{
  padding-bottom: 10px;
}
p{
  color: black;
}
#contenido {
  padding-top: 115px;
}
.container{
  background-color: rgba(0,0,0, 0.07);
}
/* Menu */
header{
  background:#01A7E1;
  width: 100%;
  position: fixed;
  z-index: 100;
  height: 16%;
}
nav {
  float: left; /* Desplazamos el nav hacia la izquierda */
}
nav ul {
  margin-top: 10px;
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 17px;
}
nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}
/* Submenu */
nav ul li ul li{
  display:none;
  position:relative;
}
nav ul li:hover > ul li{
  display:block;
  background-color: #01A7E1;
}

body {
  background-color: white;
}
.photo {
  height: 75px;
  padding-right: 15px;
}
.photo2{
  height: 110px;
  float: left;
  padding-right: 15px;
}
.photo1{
  height:35px;
}
#columna{
  display: block;
  margin: 6px;
}
#semicol{
  padding-bottom: 20px;
}
