<h1>Enlish4people</h1>
<hr>
<h2>Profesores:</h2>
<app-profesor-list></app-profesor-list>
<h2>Contratos:</h2>
<app-contrato-list></app-contrato-list>
<h2>Horarios:</h2>
<app-horario-list></app-horario-list>
<h2>Idiomas:</h2>
<app-idioma-listar></app-idioma-listar>
<h2>DiasSemana:</h2>
<app-diaSemana-listar></app-diaSemana-listar>
<h2>Calificaciones:</h2>
<app-calificacion-lista></app-calificacion-lista>
<h2>Respuestas:</h2>
<app-respuesta-lista></app-respuesta-lista>
<h2>Estudiantes:</h2>
<app-estudiante-list></app-estudiante-list>
<h2>Mensajes:</h2>
<app-mensaje-list></app-mensaje-list>
<h2>Chats:</h2>
<app-chat-lista></app-chat-lista>
<h2>Actividades:</h2>
<app-actividad-list></app-actividad-list>
<h2>Clase:</h2>
<app-clase-list></app-clase-list>
<h2>MaterialDeClase:</h2>
<!-- <app-materialDeClase-list></app-materialDeClase-list> -->

