<body>
  <header>
    <nav>
      <ul>
        <li>
          <img class="photo" src="../assets/logoEFP.PNG" alt="logo-EFP" />
        </li>
        <li><a href="">Inicio</a></li>
        <li>
          <a class="dropdown-item" [routerLink]="['/profesores/list']"
            >Conoce a nuestros profesores</a
          >
        </li>

        <li>
          <a href="">Crear cuenta</a>
          <ul>
            <li>
              <a class="dropdown-item" [routerLink]="['/profesores/create']"
                >Profesor</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/estudiantes/create']"
                >Estudiante</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a class="dropdown-item" [routerLink]="['/estudiantes/list']"
            >Ver Estudiantes</a
          >
        </li>

        <li>
          <a href="">Contratos</a>
          <ul>
            <li>
              <a class="dropdown-item" [routerLink]="['/contratos/create']"
                >Contratar</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/contratos/list']"
                >Ver contratos</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a href="">Idiomas</a>
          <ul>
            <li>
              <a class="dropdown-item" [routerLink]="['/idiomas/create']"
                >Crear Idioma</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/idiomas/list']"
                >Ver Idiomas</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a href="">DiasSemana</a>
          <ul>
            <li>
              <a class="dropdown-item" [routerLink]="['/diasSemana/create']"
                >Crear DiaSemana</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/diasSemana/list']"
                >Ver DiasSemana</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a href="">Clases</a>
          <ul>
            <li>
              <a class="dropdown-item" [routerLink]="['/clases/list']"
                >Ver Clases</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a href="">Actividades</a>
          <ul>
            <li>
              <a class="dropdown-item" [routerLink]="['/actividades/list']"
                >Ver Actividades</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a href="">Calificaciones</a>
          <ul>
            <li>
              <a class="dropdown-item" [routerLink]="['/calificaciones/list']"
                >Ver Calificaciones</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a href="">Chats</a>
          <ul>
            <li>
              <a class="dropdown-item" [routerLink]="['/chats/list']"
                >Ver Chats</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a href="">Horarios</a>
          <ul>
            <li>
              <a class="dropdown-item" [routerLink]="['/horarios/list']"
                >Ver Horarios</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="">Mensajes</a>
          <ul>
            <li>
              <a class="dropdown-item" [routerLink]="['/mensajes/list']"
                >Ver Mensajes</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a href="">Respuestas</a>
          <ul>
            <li>
              <a class="dropdown-item" [routerLink]="['/respuestas/list']"
                >Ver Respuestas</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <div class="container" id="contenido">
    <div class="row">
      <div class="col-md-10">
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-8" id="columna">
        <h2>Acerca de la empresa</h2>
        <img
          class="photo2"
          src="https://www.universidadesvirtuales.com.co/img/article/aprender-idiomas-virtual-en-colombia"
          alt="img-computadora"
        />
        <p>
          En la actualidad es de gran interés para las personas el aprendizaje
          de idiomas, pero hay muchas personas que prefieren las clases
          personalizadas con profesores particulares y puede que no haya mucha
          variedad de empresas a las cuales acudir. Ademas, la búsqueda de
          profesores que cumplan las expectativas puede ser una tarea difícil y
          tediosa.
        </p>
        <p>
          Para solucionar dicha problematica se creó la plataforma
          English4People que acerca a profesores de idiomas y estudiantes. Esta
          empresa brinda un servicio completo y rápido ya que cuenta con un gran
          número de herramientas que permiten que el servicio sea el mejor
          posible.
        </p>
      </div>
      <div class="col" id="columna">
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <h2>Síguenos en nuestras redes</h2>
        <div class="row" id="semicol">
          <div class="col-2">
            <a href="#" class="fa fa-facebook"></a>
          </div>
          <div class="col-2">
            <a href="#" class="fa fa-instagram"></a>
          </div>
          <div class="col-2">
            <a href="#" class="fa fa-youtube"></a>
          </div>
        </div>
        <h2>Contáctanos</h2>
        <div class="row">
          <div class="col-2">
            <dl>
              <dt>Teléfono:</dt>
              <dd>+571234567</dd>
              <dt>Celular:</dt>
              <dd>3101010101</dd>
              <dt>Correo:</dt>
              <dd>english4people@gmail.com</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="fin">
    <div class="row">
      <div class="col" id="columna">
        <h2>Como funciona</h2>
        <h4>
          English4People cuenta con una interfaz fácil de entender para todos
          los usuarios.
        </h4>
        <div class="row">
          <div class="col" id="columna">
            <h3>Profesores</h3>
            <p>
              Los profesores se registran en la plataforma diligenciando datos
              como su nombre, su formación académica, los idiomas que domina,
              sus certificados, y videos breves con ejemplos de algunas de sus
              clases. Los profesores podrán editar su agenda para establecer las
              franjas horarias en las que están disponibles y podrán publicar el
              material académico, al que tendrán acceso únicamente los
              estudiantes que tomen el curso con ese profesor.
            </p>
            <p>
              Los profesores también podrán publicar actividades relacionadas
              con el aprendizaje de idiomas, como por ejemplo clubes de
              conversación, de lectura, viajes de inmersión, cine foros, entre
              otros.
            </p>
          </div>
          <div class="col" id="columna">
            <h3>Estudiantes</h3>
            <p>
              Los estudiantes usarán la plataforma para filtrar profesores y
              buscar aquellos que cumplan con determinados criterios. Si en la
              búsqueda hay algún resultado coincidente, el estudiante podrá
              contactar al profesor (desde la misma plataforma) y realizar el
              proceso de contratación. En el contrato deberán estipular el
              número de horas, el costo y el horario. En la plataforma los
              estudiantes también podrán inscribirse a las actividades extra
              ofertadas por los profesores.
            </p>
            <p>
              La plataforma tendrá un componente de red social, por lo cual, los
              estudiantes que hayan contratado a un profesor, podrán comentarlo
              y calificarlo. De igual forma, el profesor podrá responder a las
              calificaciones y comentarios. Los profesores mejor calificados
              aparecerán destacados en los filtros y búsquedas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer bg-light">
    <div class="footer-copyright text-center py-2">
      © Proyecto Desarrollo de SW en Equipos
    </div>
  </footer>
</body>
