<div class="container-fluid">
  <p class="h3 p-3" >{{profesorDetail.nombre}}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img class="img-fluid" />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>Identificacion</dt>
        <dd>{{profesorDetail.identificacion}}</dd>
        <dt>Correo</dt>
        <dd>{{profesorDetail.correo}}</dd>
        <dt> Login</dt>
        <dd>{{profesorDetail.login}}</dd>
        <hr>
        <dt>Informacion Academica</dt>
        <dd>{{ profesorDetail.informacionAcademica}}</dd>
        <hr>
        <dt class="bold">Canal de Youtube</dt>
        <dd class="caption">{{profesorDetail.canalYoutube}}</dd>
        <hr>
        <dt class="bold">Idioma</dt>
        <dd>{{profesorDetail.idioma.id}}</dd>
        <dt>Costo del contrato</dt>
        <dd *ngFor = "let a of profesorDetail.contratos">{{a.costo}}</dd>
        <dt>Calificaciones</dt>
        <dd *ngFor = "let a of profesorDetail.calificaciones">{{a.calificacionNumerica}}</dd>
        <dt>Tipo Clases</dt>
        <dd *ngFor = "let a of profesorDetail.clases">{{a.tipoClase}}</dd>
        <dt>Certificados</dt>
        <dd><app-certificado [certificados]="profesorDetail.certificados"></app-certificado></dd>
      </dl>
    </div>
  </div>
</div>
