<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img class="img-fluid" />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>id</dt>
        <dd>{{horarioDetail.id}}</dd>
        <dt>Hora de inicio</dt>
        <dd>{{horarioDetail.horaInicio}}</dd>
        <dt>Hora final</dt>
        <dd>{{horarioDetail.horaFin}}</dd>

        <hr>
        <dt class="bold">Dia de la semana</dt>
        <dd class="caption">{{horarioDetail.diaSemana.id}}</dd>
      </dl>
    </div>
  </div>
</div>
