<div class="row p-2">
  <div class="col-2" *ngFor="let c of contratos">
    <ul>
      <li>
        <a
          class="btn btn-light"
          data-toggle="collapse"
          href="#collapseExample"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
          (click)="onSelected(c)"
        >
          {{ c.id }}
        </a>
      </li>
    </ul>
  </div>

  <div class="col">
    <div *ngIf="selected">
      <app-contrato-detail
        [contratoDetail]="selectedContrato"
      ></app-contrato-detail>
    </div>
  </div>
</div>
