<div class="container-fluid">
	<div class="col-4 p-3">
		<div class="h4">Creación de un profesor</div>
		<form [formGroup]="profesorForm" (ngSubmit)="!profesorForm.invalid && createProfesor(profesorForm.value)">

			<div class="form-group mx-sm-3 mb-2">
				<label for="nombre">
					Nombre
				</label>
				<input novalidate id="nombre" class="form-control" formControlName="nombre" placeholder="Su nombre completo">
				<div class="alert alert-danger alert-dismissible fade show"
					*ngIf="profesorForm.get('nombre').hasError('required') && profesorForm.get('nombre').touched">
					Nombre requerido
				</div>
				<div class="alert alert-danger alert-dismissible fade show"
					*ngIf="profesorForm.get('nombre').hasError('minlength') && profesorForm.get('nombre').touched">
					Nombre muy corto
				</div>
			</div>

			<div class="form-group mx-sm-3 mb-2">
				<label for="identificacion">
					Identificación
				</label>
				<input novalidate id="identificacion" type ="number" class="form-control" formControlName="identificacion" placeholder="Su identificacion">
				<div class="alert alert-danger alert-dismissible fade show"
					*ngIf="profesorForm.get('identificacion').hasError('required') && profesorForm.get('identificacion').touched">
					Identificacion requerida
				</div>
				<div class="alert alert-danger alert-dismissible fade show"
					*ngIf="profesorForm.get('identificacion').hasError('maxlength') && profesorForm.get('identificacion').touched">
					Identificacion invalida
				</div>
      </div>

      <div class="form-group mx-sm-3 mb-2">
				<label for="login">
					Login
				</label>
				<input novalidate id="Login" class="form-control" formControlName="login" placeholder="Su nuevo login">
				<div class="alert alert-danger alert-dismissible fade show"
					*ngIf="profesorForm.get('login').hasError('required') && profesorForm.get('login').touched">
					Login requerido
				</div>
				<div class="alert alert-danger alert-dismissible fade show"
					*ngIf="profesorForm.get('login').hasError('minlength') && profesorForm.get('login').touched">
					Login muy corto
				</div>
      </div>

      <div class="form-group  mx-sm-3 mb-2">
				<label for="contrasena">
					Contraseña
				</label>
				<input id="contrasena" type="password" class="form-control" formControlName="contrasena" placeholder="Contraseña">
				<div class="alert alert-danger alert-dismissible fade show"
					*ngIf="profesorForm.get('contrasena').hasError('required') && profesorForm.get('contrasena').touched">
					Contraseña requerida
				</div>
			</div>

			<div class="form-group  mx-sm-3 mb-2">
				<label for="correo">
					Correo
				</label>
				<input id="correo" type="text" class="form-control" formControlName="correo" placeholder="Su correo">
				<div class="alert alert-danger alert-dismissible fade show"
					*ngIf="profesorForm.get('correo').hasError('required') && profesorForm.get('correo').touched">
					Correo requerido
				</div>
				<div class="alert alert-danger alert-dismissible fade show"
					*ngIf="profesorForm.get('correo').touched && profesorForm.get('correo').hasError('correo')">
          Formato de correo invalido
				</div>
      </div>

      <div class="form-group  mx-sm-3 mb-2">
				<label for="informacionAcademica">
					Informacion Academica
				</label>
				<input id="informacionAcademica" type="text" class="form-control" formControlName="informacionAcademica" placeholder="informacion Academica">
				<div class="alert alert-danger alert-dismissible fade show"
					*ngIf="profesorForm.get('informacionAcademica').hasError('required') && profesorForm.get('informacionAcademica').touched">
					Informacion Academica requerida
				</div>
			</div>

      <div class="form-group  mx-sm-3 mb-2">
				<label for="canalYoutube">
					Canal de Youtube
				</label>
				<input id="canalYoutube" type="url" class="form-control" formControlName="canalYoutube" placeholder="Opcional">
			</div>

			<div class="row  m-3">
				<button type="submit" class="btn btn-primary" [disabled]="!profesorForm.valid">Create</button>
				<button type="button" class="btn btn-danger ml-3" (click)="cancelCreation()">Cancel</button>
			</div>
		</form>
	</div>
</div>
