<div class="row p-2">
  <div class="col-2" *ngFor="let ds of diasSemana">
    <ul>
      <li>
        <a
          class="btn btn-light"
          data-toggle="collapse"
          href="#collapseExample"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
          (click)="onSelected(ds)"
        >
          {{ ds.id }}
        </a>
      </li>
    </ul>
  </div>

  <div class="col">
    <div *ngIf="selected">
      <app-diaSemana-detail
        [diaSemanaDetail]="selectedDiaSemana"
      ></app-diaSemana-detail>
    </div>
  </div>
</div>
