    <div class="container-fluid">
      <p class="h3 p-3">{{ idiomaDetail.id }}</p>
      <div class="row">
        <div class="col">
          <dl>
            <dt class="bold">Español</dt>
            <dd>{{ idiomaDetail.espanol }}</dd>
            <hr />
            <dt class="bold">Inglés</dt>
            <dd>{{ idiomaDetail.espanol }}</dd>
            <hr />
            <dt class="bold">Francés</dt>
            <dd>{{ idiomaDetail.espanol }}</dd>
            <hr />
            <dt class="bold">Italiano</dt>
            <dd>{{ idiomaDetail.espanol }}</dd>
            <hr />
            <dt class="bold">Portugués</dt>
            <dd>{{ idiomaDetail.espanol }}</dd>
            <hr />
            <dt class="bold">Alemán</dt>
            <dd>{{ idiomaDetail.espanol }}</dd>
            <hr />
            <dt class="bold">Japonés</dt>
            <dd>{{ idiomaDetail.espanol }}</dd>
            <hr />
            <dt class="bold">Coreano</dt>
            <dd>{{ idiomaDetail.espanol }}</dd>
            <hr />
            <dt class="bold">Mandarín</dt>
            <dd>{{ idiomaDetail.espanol }}</dd>
          </dl>
        </div>
      </div>
    </div>
